<div class="userLoginBox">
  <div class="userLoginHeader"><p>Login</p></div>
    <form class="userLoginBody">
        <div class="userFormGroup">
          <input type="text" placeholder="Enter Username" class="userFormControl" >
          <small>For example({{username}})</small>
        </div>
        <div class="userFormGroup">
          <input type="password" placeholder="Enter password"class="userFormControl">
        </div>
        <div class="userFormGroup">
          <button class="userBtn userBtn-info userBtn-borderBottom-tick-info">Login</button>
        </div>
    </form>   
</div>