/* Add application styles & imports to this file! */
body{
  margin:0;
  padding:0;
  display:block;
}
.mainContainer{
  width:100%;
  text-align:center;
  height:100vh
}
.mainWrapper{
  height:100%;
  margin:0 auto;
  width:100%
}
.errors{
  color:rgb(141, 33, 33);
  padding:3px 5px;
  font-size:10px;
  margin:5px 0px;
}
.moduleError{
  color:rgb(105, 0, 0);
  font-size:12px;
  text-align: center;
  background:rgb(231, 101, 101);
  border-radius:4px;
  margin:3px;
  padding:3px;
  border:1px solid rgb(126, 15, 15);
}